res_lms BITMAP resources\lms.bmp
res_groups_no_groups BITMAP resources\no_groups.bmp
res_groups_separate_groups BITMAP resources\separate_groups.bmp
res_groups_visible_groups BITMAP resources\visible_groups.bmp

res_modtype_pdf BITMAP resources\modtype_pdf.bmp
res_modtype_label BITMAP resources\modtype_label.bmp
res_modtype_zip BITMAP resources\modtype_zip.bmp
res_modtype_text BITMAP resources\modtype_text.bmp
res_modtype_json BITMAP resources\modtype_json.bmp
res_modtype_url BITMAP resources\modtype_url.bmp
res_modtype_folder BITMAP resources\modtype_folder.bmp
