res_lms BITMAP resources\lms.bmp
res_groups_no_groups BITMAP resources\no_groups.bmp
res_groups_separate_groups BITMAP resources\separate_groups.bmp
res_groups_visible_groups BITMAP resources\visible_groups.bmp
